.subcontainer {
    display: flex;
    flex-direction: row;
}

section {
    margin: 20px;
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    text-align: justify;
}

p {
    margin-bottom: 4px;
    text-align: justify;
}


