table {
    margin: 5em 10em;
    border: none;
    collapse: none;
    width: 60%;
}

.subcontainer {
    align-items: center;
    justify-content: center;
}

.book-summary {
    text-align: justify;
}

.book-text > * {
    margin: 5px;
}

.image-book-reading-list {
    display: block;
}

.reading-book {
    transition: transform 0.3s;
    padding: 10px;
}

.reading-book:hover {
    cursor: pointer;
    background-color: #e5e5e5;
    transform: scale(1.02);
}