<!DOCTYPE html>
<html lang="en">
<head>
    <title>WebTech Project</title>
    <link rel="icon" href="{{ asset('images/bookIcon.png') }}" type="image/icon type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8" />
    <meta name="keywords" content="webtech Project" />
    <meta name="description"
          content="This is the project for the course webtech, made by group 32" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {% for stylesheet in stylesheets %}
        <link href="{{ asset('css/' ~ stylesheet) }}" rel="stylesheet" type="text/css"/>
    {% endfor %}
    <script>
        function switchPage(pageUrl) {
            window.location.href = pageUrl;
        }
    </script>
</head>

<body>
<header>
    <div id="logo">
        <img class="logo-image" src="{{ asset('images/devLogo.png') }}" alt="Bookbinder logo">
        <h1 id="title">Bookbinder</h1>
    </div>
    <div id="navigator">
        <nav>
            <ul>
                <li><a style="text-decoration:none" href="#">Chats</a></li>
                <li><a style="text-decoration:none" href="#">Reading list</a></li>
                <li><a style="text-decoration:none" href="#">Meetup</a></li>
                <li><a style="text-decoration:none" href="#">About</a></li>
                <li><a style="text-decoration:none" href="#">Contact</a></li>
            </ul>
        </nav>
        <button class="loginButton">Login</button>
    </div>

</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>Copyright &copy 2023 WebTech. KUL&nbsp;All Rights Reserved.&nbsp;&nbsp;
        <a style="text-decoration:none" href="#">Privacy Policy</a> | <a style="text-decoration:none" href="#">Terms of Use</a>
    </p>
</footer>
</body>
</html>