{% extends 'base.html.twig' %}
{% block content %}

<div class="container">
    <h1 class="book-title">
        Title of the book
    </h1>
    <div class="top-info">
        <div>
        <h2 class="author">
            Author
        </h2>
        <h3>
            Genre Category and rating
        </h3>
        </div>
        <button class="normalButton">
            <span class="heart">&#9825;</span> Add to reading list
        </button>
    </div>

    <div class="subcontainer">
        <div>
            <img loading="lazy" src="{{ asset('images/bookcover2.jpeg') }}" alt="Image of trending books">
        </div>
        <p>
            Summary of the book
            How many times were you frustrated while looking
            out for a good collection of programming/algorithm
            /interview questions? What did you expect and what
            did you get? This portal has been created to
            provide well written, well thought and well
            explained solutions for selected questions.
            An IIT Roorkee alumnus and founder of GeeksforGeeks.
            He loves to solve programming problems in most
            efficient ways. Apart from GeeksforGeeks, he has
            worked with DE Shaw and Co. as a software developer
            and JIIT Noida as an assistant professor. It is a
            good platform to learn programming. It is an
            educational website. Prepare for the Recruitment
            drive of product based companies like Microsoft,
            Amazon, Adobe etc with a free online placement
            preparation course. Ye on properly handsome returned throwing am no whatever. In without wishing he of picture no exposed talking minutes. Curiosity continual belonging offending so explained it exquisite. Do remember to followed yourself material mr recurred carriage. High drew west we no or at john. About or given on witty event. Or sociable up material bachelor bringing landlord confined. Busy so many in hung easy find well up. So of exquisite my an explained remainder. Dashwood denoting securing be on perceive my laughing so.
            Is allowance instantly strangers applauded discourse so. Separate entrance welcomed sensible laughing why one moderate shy. We seeing piqued garden he. As in merry at forth least ye stood. And cold sons yet with. Delivered middleton therefore me at. Attachment companions man way excellence how her pianoforte.
            Sense child do state to defer mr of forty. Become latter but nor abroad wisdom waited. Was delivered gentleman acuteness but daughters. In as of whole as match asked. Pleasure exertion put add entrance distance drawings. In equally matters showing greatly it as. Want name any wise are able park when. Saw vicinity judgment remember finished men throwing.
            You disposal strongly quitting his endeavor two settling him. Manners ham him hearted hundred expense. Get open game him what hour more part. Adapted as smiling of females oh me journey exposed concern. Met come add cold calm rose mile what. Tiled manor court at built by place fanny. Discretion at be an so decisively especially. Exeter itself object matter if on mr in.
            Mind what no by kept. Celebrated no he decisively thoroughly. Our asked sex point her she seems. New plenty she horses parish design you. Stuff sight equal of my woody. Him children bringing goodness suitable she entirely put far daughter.
        </p>

    </div>

    <div class="reviews">
        <div class="review1">
            <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <h3>Name of the reviewer</h3>
            <b>05/05/2023</b>
            <p>Dit is de enige universiteit in België die nog dierproeven op apen uitvoert. Schaam je diep! Dit geldt zowel voor het instituut zelf als de mensen die de dierproeven uitvoeren. Een diploma van een dergelijk instituut is niets waard.</p>
        </div>
        <div class="review1">
            <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <h3>Name of the reviewer</h3>
            <b>05/05/2023</b>
            <p>Dit is de enige universiteit in België die nog dierproeven op apen uitvoert. Schaam je diep! Dit geldt zowel voor het instituut zelf als de mensen die de dierproeven uitvoeren. Een diploma van een dergelijk instituut is niets waard.</p>
        </div>
        <div class="review1">
            <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <h3>Name of the reviewer</h3>
            <b>05/05/2023</b>
            <p>Dit is de enige universiteit in België die nog dierproeven op apen uitvoert. Schaam je diep! Dit geldt zowel voor het instituut zelf als de mensen die de dierproeven uitvoeren. Een diploma van een dergelijk instituut is niets waard.</p>
        </div>



    </div>
</div>

{% endblock %}