<div id="books-container">
    <div class="book">
        <img loading="lazy" src="{{book.book_cover}}" alt="Entity Image">
        <div>
            <h2>{{ book.title }}</h2>
            <p>By {{ book.author }}</p>
            <p>Genre: {{ book.genres }}</p>
        </div>
    </div>
</div>