{% extends 'base.html.twig' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Contact Us - BookBinder</title>
    <link rel="stylesheet" type="text/css" href="css/contact.css">
</head>
<body>
<h1>Contact Us</h1>

<div id="contact">
    <div>
        <label for="name">Name: The Moonwalkers</label>
    </div>
    <div>
        <label for="email">Our Email: the_moonwalkers@moonwalkernation.moon</label>
    </div>
    <div>
        <label for="phone">phone: 00-69-420-666</label>
    </div>
</div>
</body>
</html>
{% endblock %}