{% extends 'base.html.twig' %}
{% block content %}

    <div class="container">
        <h1 class="book-title">Contact Us</h1>

        <div class="contact">
            <div>
                <label for="name">Name: The Moonwalkers</label>
            </div>
            <div>
                <label for="email">Email: the_moonwalkers@moonwalkernation.moon</label>
            </div>
            <div>
                <label for="phone">Phone: 00-69-420-666</label>
            </div>
        </div>
    </div>


{% endblock %}