{% extends 'base.html.twig' %}
{% block content %}

    <div class="container">
        <h1 class="book-title">Contact Us</h1>

        <div class="contact">
            <div>
                <label for="name">Name: a22Web32</label>
            </div>
            <div>
                <label for="email">Email: a22Web32@fakeEmail.null</label>
            </div>
            <div>
                <label for="phone">Phone: 012-34-56-7890</label>
            </div>
        </div>
    </div>


{% endblock %}