<!DOCTYPE html>
<html>
<head>
    <title>Display Image</title>
</head>
<body>
//example of how to display blob image in html
<img src="data:image/png;base64,{{ image_data }}" alt="Image">
</body>
</html>