<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="login_register.css">
</head>
<body>
<div class="container">
    <div class="container">
        <form id="login-form" onsubmit="login(); return false;">
            <h1>Login</h1>
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
            <p id="emailMessage"></p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <p id="passwordMessage"></p>
            <button type="submit">Login</button>
            <p id="message" name = "message"></p>
            <p id="switch">Don't have an account? <a href="register">Register here</a></p>
        </form>

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>

</body>
</html>
<script>function login() {


        if (document.getElementById("email").value === "") {
            emailMessage.innerHTML = "Please enter an email";
            return;
        } else {
            emailMessage.innerHTML = "";
        }
        if (document.getElementById("password").value === "") {
            passwordMessage.innerHTML = "Please enter a password";
            return;
        }
        else {
            passwordMessage.innerHTML = "";
        }



        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

// Hash the password using SHA-256
        const hashedPassword = sha256(password);




        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                if (this.responseText === "success") {
                    document.getElementById('message').innerHTML = "Login successful";
                }
                else if(this.responseText === "password") {
                    document.getElementById('message').innerHTML = "Invalid password";
                }
                else if(this.responseText === "email"){
                    document.getElementById('message').innerHTML = "Invalid email";
                }
                else {
                    document.getElementById('message').innerHTML = "Invalid username or password";
                }
            }
        };
        xhttp.open("POST", "login/handler", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(`email=${email}&password=${hashedPassword}`);
     }
</script>
