{% extends 'base.html.twig' %}
{% block content %}
    <section>
        <p>
            This is the main part of the screen. I am testing if the changes work
        </p>
    </section>
{% endblock %}